name: run tests

on:
  pull_request:
  push:
    branches:
      - main


jobs:
  run_tests:
    runs-on: ubuntu-latest
    container:
      image: epitechcontent/epitest-docker
    steps:
      - uses: actions/checkout@v4
      - name: run tests
        run: make test